<div [class.disabled]="disabled" id="pokemon-card">
    <div>
    <p> {{ pokemon.name }} 
        <span *ngIf="pokemon.id<=9">#00{{ pokemon.id }}</span>
        <span *ngIf="pokemon.id>=10 && pokemon.id<100">#0{{ pokemon.id }}</span>
        <span *ngIf="pokemon.id>=100">#{{ pokemon.id }}</span>
    </p> 
    <a [routerLink]="['/pokemons/details/',pokemon.id]"><img src = "{{pokemon.imgUrl}}"></a>
    <br>
    <button [disabled]="disabled" *ngIf="showCollectButton && !acquiredPokemon" class="button" (click)="addPokemon()">I choose you!</button>
    <button disabled *ngIf="showCollectButton && acquiredPokemon">Pokemon collected</button>
    </div>
</div>