#pokemon-card{
    border-style: groove;
    display: inline-block;
} 
#pokemon-card > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
}
img {
    height: 250px;
    width: 250px;
}