//IDs
#pokemon-card{
    border-color: #3B4CCA;
    border-style: groove;
    border-width: 5px;
    color: #ffffff;
    display: inline-block;
    font-family: 'pokemon-font', monospace;
    margin: 5px;
    text-align: center;
} 
#pokemon-card > div {
    background-color: #4ca0ff;
    box-shadow: inset 0 0 0 7px #4ca0ff;
    padding: 10px;
}

#information:hover{
    width: 120px;
    bottom: 100%;
    left: 50%;
    visibility: visible;
}

//Classes
.container{
    margin: 5% 10%;
}

.button:hover {
    background-color: #3B4CCA;
}

.button:active {
    background-color: #feffe5;
    transform: translateY(4px);
}

//Elements
img {
    background-color: #feffe5;
    border-style: groove;
    border-width: 5px;
    border-color: #CC0000;
    display: block;
    height: 200px;
    width: 200px;
}

img:active {
    transform: translateY(4px);
}

p::first-letter {
    text-transform: uppercase;
}
