.container{
    margin: 5% 10%;
}

#pokemon-card{
    border-color: #3B4CCA;
    border-style: groove;
    border-width: 5px;
    color: #ffffff;
    display: inline-block;
    font-family: 'pokemon-font', monospace;
    text-align: center;
    margin: 5px;
} 
#pokemon-card > div {
    background-color: #4ca0ff;
    padding: 10px;
    box-shadow: inset 0 0 0 7px #4ca0ff;
}
img {
    background-color: #feffe5;
    height: 200px;
    width: 200px;
    display: block;
    border-style: groove;
    border-width: 5px;
    border-color: #CC0000;
}

p::first-letter {
    text-transform: uppercase;
}

.button:hover {
    background-color: #3B4CCA;
}

.button:active {
    background-color: #feffe5;
    transform: translateY(4px);
}

img:active {
    transform: translateY(4px);
}