#pokemon-card{
    border-color: #B3A125;
    border-style: outset;
    border-width: 10px;
    font-family: 'pokemon-font', monospace;
    text-align: center;
    margin: 15%;
    background-color: #0080ff;
} 

#base-stats{
    border-color: #B3A125;
    border-style: outset;
    border-width: 5px;
    margin: 10px;
    padding: 10px;
    border-style: groove;
    flex-wrap: wrap;
    justify-content: space-between;
    display: inline-block;
    width: 50%;
    height: auto;
    background-color: #D3D3D3;
}

#profile-stats{
    border-color: #B3A125;
    border-style: outset;
    border-width: 5px;
    margin: 10px;
    padding: 10px;
    border-style: groove;
    flex-wrap: wrap;
    justify-content: space-between;
    display: inline-block;
    width: 50%;
    height: auto;
    background-color: #D3D3D3;
}

#moves{
    border-color: #B3A125;
    border-style: outset;
    border-width: 5px;
    margin: 10px;
    padding: 10px;
    border-style: groove;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    display: inline-block;
    background-color: #D3D3D3;
}

img {
    background-color: #D3D3D3;
    height: 250px;
    width: 250px;
    border-style: groove;
    border-width: 5px;
    border-color: #B3A125;
    display: inline;
}

p::first-letter {
    text-transform: uppercase;
}

.pokeName{
    font-size: 36px;
}

.backButton{
    position: relative;
}

.backButton:hover {
    background-color: #3B4CCA;
}

.backButton:active {
    background-color: #feffe5;
    transform: translateY(4px);
}